defmodule <%= module_name %>.MixProject do
  use Mix.Project

  def project do
    [
      app: :<%= app_name %>,
      version: "0.1.0",
      elixir: "~> 1.19",
      start_permanent: false,
      deps: deps(),
      erlc_paths: ["src"],
      erlc_options: [:debug_info]
    ]
  end

  def application do
    [extra_applications: [:logger]]
  end

  defp deps do
    [
      <%= dala_dep %>,
      <%= dala_dev_dep %>,
      {:ecto_sqlite3, "~> 0.18"},
      {:jason, "~> 1.4"}
    ]
  end
end
